# Problem Set 2

### Question:1

In [22]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
     

# a is initialised to 0
# variable a can be accessed by the function c as it is defined with global keyword.

# When the function b is called 1st time, it calls function c(a) which executes a=0+2 so the value of a is 2.
b()

# When the function b is called 2nd time, value of a is 2 from the 1st execution, Hence, a=2+2 so the new value of a is 4.
b()

# When the function b is called 3nd time, value of a is 4 from the 1st execution, Hence, a=4+2 so the new value of a is 6.
b()

# The final value of variable a is 6, as a result 6 is printed.
a

6

### Question:2

In [23]:
def file_length(file_name):
  try:
    file = open(file_name)
    contents = file.read()
    file.close()
    print(len(contents))
  except:
    print("File "+ file_name + " not found")

# Added Try Except block to catch the exception and print the output.

file_length('midterm.py')

File midterm.py not found

### Question:3

In [15]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"


# Example usage
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

k = Kangaroo(0, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (3,0)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

### Question:4

In [25]:
def collatz(x):
  if x<0:
    print("Please enter the positive number")
  else:
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2) ## Used "//"" instead of "/"" as "//" is used for floor division and "/" gives the value in decimals.
    else:
        collatz(3 * x + 1)


collatz(-7)
collatz(2)
collatz(11)

Please enter the positive number
2
1
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1

### Question: 5

In [27]:
def binary(x):
  if x<0:
    print("Please enter the positive number")
  else:
    if x>1:
      binary(x // 2)
    print(x % 2, end="")

In [28]:
binary(-4)
binary(1)

Please enter the positive number
1

In [29]:
binary(9)

1001

### Question :6

In [12]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []
        self.current_heading = ''
        self.indentation = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h'):
            try:
                self.indentation = int(tag[1:]) - 1
            except ValueError:
                # Ignore if the tag does not have a numeric value
                pass

    def handle_data(self, data):
        if self.indentation >= 0:
            self.current_heading = ' ' * self.indentation + data.strip()
            self.headings.append(self.current_heading)

    def print_headings(self):
        for heading in self.headings:
            print(heading)

# Example usage
with open('w3c.html') as infile:
    content = infile.read()

hp = HeadingParser()
hp.feed(content)
hp.print_headings()

Change_me






W3C Mission

 Principles

### Question:7

In [30]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent=0):
    if depth <0: #If depth is 0, terminate the recursion as there is no depth.
        return

    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    print(' ' * indent + url)
    if depth == 0:
        return
    links = soup.find_all('a')
    for link in links:
        href = link.get('href')
        if href and not href.startswith('http'):
            href = url + href.strip('/')
        webdir(href, depth - 1, indent + 1)

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/Ch7.pptx
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/caseStudy6/blackjack.py
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/emoticon.py
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/chapter7.zip

### Question:8

In [31]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('temp_db.db')
cursor = conn.cursor()

# Create the temperature_data table
cursor.execute('''CREATE TABLE temperature_data (
                    City TEXT,
                    Country TEXT,
                    Season TEXT,
                    Temperature FLOAT,
                    Rainfall FLOAT
                )''')

# Commit the changes and close the connection
conn.commit()
conn.close()

In [32]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('temp_db.db')
cursor = conn.cursor()

# Insert data into the temperature_data table
temperature_data = [
   ("Mumbai","India","Winter",24.8,5.9),
   ("Mumbai","India","Spring",28.4,16.2),
   ("Mumbai","India","Summer",27.9,1549.4),
   ("Mumbai","India","Fall",27.6,346),
   ("London","United Kingdom","Winter",4.2,207.7),
   ("London","United Kingdom","Spring",8.3,169.6),
   ("London","United Kingdom","Summer",15.7,157),
   ("London","United Kingdom","Fall",10.4,218.5),
   ("Cairo","Egypt","Winter",13.6,16.5),
   ("Cairo","Egypt","Spring",20.7,6.5),
   ("Cairo","Egypt","Summer",27.7,0.1),
   ("Cairo","Egypt","Fall",22.2,4.5)
]

cursor.executemany('INSERT INTO temperature_data VALUES (?, ?,?,?,?)', temperature_data)

# Commit the changes and close the connection
conn.commit()
conn.close()

In [2]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('temp_db.db')
cursor = conn.cursor()

# Execute the query
cursor.execute("SELECT * FROM temperature_data")

# Fetch all the rows
temperature_data = cursor.fetchall()

# Print the temperature data
print("All the temperature data")
print(" ")
for row in temperature_data:
    print(row)

# Close the connection
#conn.close()

All the temperature data

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [3]:
cursor.execute("SELECT distinct city FROM temperature_data")

# Print the cities without repeatition
print("All Cities")
print(" ")
cities  = cursor.fetchall()

for cities in cities:
    print(cities[0])

All Cities

Mumbai
London
Cairo

In [35]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('temp_db.db')
cursor = conn.cursor()

# Execute the query
cursor.execute("SELECT * FROM temperature_data WHERE country = 'India'")

# Fetch all the records for India
india_records = cursor.fetchall()

print("All Data where country is India")
print(" ")


# Print the records
for record in india_records:
    print(record)

# Close the connection
conn.close()

All Data where country is India

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [36]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('temp_db.db')
cursor = conn.cursor()

# Execute the query
cursor.execute("SELECT * FROM temperature_data WHERE season = 'Fall'")

# Fetch all the Fall records
fall_records = cursor.fetchall()

# Print the records
print("All Data where season is Fall")
print(" ")

for record in fall_records:
    print(record)

# Close the connection
conn.close()

All Data where season is Fall

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [37]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('temp_db.db')
cursor = conn.cursor()

# Execute the query
cursor.execute("SELECT city, country, season FROM temperature_data GROUP BY city, country, season HAVING AVG(rainfall) BETWEEN 200 AND 400")

# Fetch all the records
average_rainfall_records = cursor.fetchall()

# Print the records

print("Average")
print(" ")

for record in average_rainfall_records:
    print(record)

# Close the connection
conn.close()

Average

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [38]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('temp_db.db')
cursor = conn.cursor()

# Execute the query
cursor.execute("SELECT city, country FROM temperature_data WHERE season = 'Fall' GROUP BY city, country HAVING AVG(temperature) > 20 ORDER BY AVG(temperature)")

# Fetch all the records
temperature_records = cursor.fetchall()

# Print the records

print("Average temp greater 20")
print(" ")

for record in temperature_records:
    print(record)

# Close the connection
conn.close()

Average temp greater 20

('Cairo', 'Egypt')
('Mumbai', 'India')

In [39]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('temp_db.db')
cursor = conn.cursor()

# Execute the query
cursor.execute("SELECT SUM(rainfall) FROM temperature_data WHERE city = 'Cairo'")

# Fetch the total annual rainfall
total_rainfall = cursor.fetchone()[0]

# Print the total annual rainfall
print(total_rainfall)

# Close the connection
conn.close()

27.6

In [40]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('temp_db.db')
cursor = conn.cursor()

# Execute the query
cursor.execute("SELECT season, SUM(rainfall) FROM temperature_data GROUP BY season")

# Fetch all the records
season_rainfall_records = cursor.fetchall()

# Print the records
for record in season_rainfall_records:
    print(record)

# Close the connection
conn.close()

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

### Question:9

In [16]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [17]:
uppercase_words = [word.upper() for word in words]
uppercase_words

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [18]:
lowercase_words = [word.lower() for word in words]
lowercase_words

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [19]:
word_lengths = [len(word) for word in words]
word_lengths

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [20]:
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
word_info

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [21]:
long_words = [word for word in words if len(word) >= 4]
long_words

['quick', 'brown', 'jumps', 'over', 'lazy']